<div class = "fluid-container">
    <div class = "container text-center" id = "grey">
        <strong><h1 id = "heading">Whatsapp Chat Bot</h1></strong>
        <br>
        <p id = "para">Referral Yogi’s Auto reply WhatsApp chat bot that sends messages to your clients</p>
        <div>
            <%= link_to 'Enter  > ', bots_path, class: "btn btn-secondary btn-lg" %>
        </div>
    </div>    
</div>