<!-- Collapsed view of bot messages-->
<% if @node %>
    <div class="Rectangle-801-collapsed mb-1 mr-4 hide" id = "after_add_collapsed" >
        <div class="row">
            <div class="col-8 row mb-2">
                <%= image_tag('bot.png', size: "25", class: "rounded-circle mr-3 ml-4 mt-2")%>
                <div class="Bot-Response mt-2">Bot Response</div>
            </div>
            <div class = "col-2"> </div>
            <div class="col-1 text-center">
                <% if Node.where(bot_id: @bot.id, parent_id: 0).first %>
                    <% @node = Node.where(bot_id: @bot.id, parent_id: 0).first %>
                     <%= link_to image_tag('del.png', size: "15", class: "mt-2", style: "margin-right: 0px;"), node_destroy_path(@node.id, @bot.id), method: :delete, data: { confirm: "All attached child nodes will be lost. Are you sure?" }, remote: true %>
                <% end %>
            </div>
            <div class = "col-1">
                <%= link_to image_tag('expand.png', size: "20", class: "mt-2", id: "expand"), node_expand_path(@node.id, @bot.id), method: :get, remote: true %>
            </div>
        </div>
        <div class="Path-485 mb-2"></div>
        <div id = "showing_previous_messages">
            <%= render 'bots/showing_previous_messages', delete_button: false %>
        </div>    
    </div> 
<% end %>   
