<% space = 0 %>
<% for phrase in Triggerphrase.where(bot_id: @bot.id)%>
<% space = space + 1 %>
<span class="triggerphrase-botsettings ml-3 mr-1">
    <span class= "triggerfont ml-2 mr-2"><%= phrase.trigger %>
        <span class="mb-4 ml-2">
        <%= link_to image_tag('cross.png', size: "14"), triggerphrase_destroy_botsettings_path(phrase.id), method: :get, remote: true, class: ""%>	
        </span>		
    </span>	
</span>
<% if space%5 == 0  %>
  <br>
<% end %>
<% end %>
