<div class="row" id = "composemessagemain">
	<%= render 'bots/usernode' %>
	<div class = "Ellipse-160"></div>
    <div class = "Path-510"></div>
    <%= render 'bots/botnode' %>
	<div class="row", id="usermessagemain_partial_with_connector">
		<%= render 'bots/usermessagesmain_with_connector'%>	
	</div>  
</div>



