<a style = "color: #7e7e7e">Conversation Starter</a>
<%= link_to " Change", settings_change_path(@bot.id, "3"), method: :get,style: "margin-left: 30%; color: #157e4b; font-weight: 500; text-decoration: none" , remote: true %>
<%= @bot.initconv %>
<br><br>