<a style = "color: #7e7e7e">Outgoing number</a>
<%= link_to " Change", settings_change_path(@bot.id, "1"), method: :get,style: "margin-left: 35%; color: #157e4b; font-weight: 500; text-decoration: none", remote: true %>
Business 1 
<% if @bot.phone != nil %>	
    (<%="+91 "+ @bot.phone.to_s()   %>)
<% end %>   
<br><br>