<!-- Rendering all previous text messages-->
<% count = 0 %>
<% if @node %>
    <% if Message.where(node_id: @node.id, bot_id: @bot.id) != [] %>
        <% @messages = Message.where(node_id: @node.id, bot_id: @bot.id) %>
        <% for message in @messages %>
            <div class="mx-auto">
            <div class="botresponses_messages_area_full mt-2 p-1">
                <div class = "row">
                    <div class = "col-10">
                        <%= message.text_message %>
                        <% count += 1 %>
                    </div>
                    <% if delete_button == true %>
                    <div class = "col-1">
                        <%= link_to image_tag('del.png', size: "13", class: "mt-2 mr-2"), messages_destroy_path(@node.id, @bot.id, message.id), method: :post, remote: true %>
                    </div>
                    <% end %>
                </div>
            </div> 
            </div>
        <% end %>
        <% if delete_button == false %>
        <br>
        <% end %>
    <% end %>
    <% if count == 0 && delete_button == false %>  
            <span class = "default-text p-3">You have not added any messages yet.</span>
            <span class = "default-text p-3">Click on expand icon and add messages</span>
            <span class = "default-text p-3">first.</span>
    <% end %>
<% end %>