<!--Parent bot response and child user node connectors-->
<% if @node%>
    <% if @node.set_next_action == "add_a_node"%>
        <% number_of_child_nodes = 0%>
        <% for i in @node.children%>
            <% number_of_child_nodes = number_of_child_nodes + 1; %>
        <% end %>
        <% height = 52 + number_of_child_nodes * 52 %>
        <% height = height.to_s + "px" %>
        <div class="connector_black_circle" style = "margin-left: -9px;"></div>
        <div class="connector_black_link"></div>
        <div class="connector_black_link_vertical", style="margin-right: 15px; height:<%= height%>" id = "connector_black_link_vertical" ></div>	
        <div id="usermessagemain_partial">
            <%= render 'bots/usermessagesmain'%> <!--Child user nodes-->
        </div>
    <% end %>
<% end %> 