<% if child %>
    <% if delete_message == true %>
        <div class="container border mt-1 p-1" style="height: 100px; width: 280px; overflow-y: auto; overflow-x: hidden; background-color: #F2F3F4; margin-top: 8px;" id = "style-4" >
            <% if Message.where(node_id: child.id) == [] %>
                <div class = "Node-text-font mt-2 p-3" style = "color: grey;" >No messages have been added yet. Go on and add the expected customer message.</div>
            <% else %>
                <% for message in Message.where(node_id: child.id)%>
                <span class="triggerphrase ml-1 mr-1 mt-4 mb-2">
                    <span class= "triggerfont ml-2 mr-2"><%= message.text_message %>
                        <span class="mb-4" id= <%= "user_child_delete_message" + (message.id).to_s%> >
                        <%= link_to image_tag('c.png', size: "8"), user_child_delete_message_path(message.id), method: :delete, remote: true, class: ""%>	
                    </span>		
                </span>	
                </span> 
                
                <% end %>
            <% end %>  
        </div>     
    <% end %>
    <% if delete_message == false %>
        <% if Message.where(node_id: child.id) == [] %>
        <div class = "Node-text-font mt-2 mb-1" >You have not added any messages yet. Click on expand icon and add messages first.</div>
        <% else %>
            <% for message in Message.where(node_id: child.id)%>    
            <span class="triggerphrase ml-1 mr-1 mt-4 mb-4">
                <span class= "triggerfont ml-2 mr-2"><%= message.text_message %></span>		
            </span>	
            </span> 
            
            <% end %>   
        <% end %>    
    <% end %>
<% end %>