@import 'bootstrap/dist/css/bootstrap';

//background on every page
.body{
  background-color: #f7f2ed;
  background-size: cover;
}
//general styling
#grey{
    color: grey;
    margin-top: 20%;
}

#customlink{
  color: grey;
  text-decoration: none;
}

.hide{
    display: none;
}
#border{
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    border-width: 1%;
    height: 650px;
}

.Rectangle-648 {
  width: 649px;
  height: 62px;
  border-radius: 8px;
  border: solid 1px #d0d0d0;
  background-color: var(--white);
}

.rectangle {
    border-radius: 0px 10px 10px 10px;
    background-color: rgb(230,230,230);
    width: auto;
}

//chat message
.triangle-left {
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-right: 15px solid rgb(230,230,230);
	border-bottom: 20px solid  rgb(230,230,230);
}

//scroll
.overflow{
    overflow: auto;
}

//chat message
.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 0px solid transparent;
    border-bottom: 20px solid transparent; 
    
    border-right:15px solid rgb(230,230,230); 
}
  
.grey_background{
      background-color: rgb(230,230,230);
}
  
.my_border_radius{
      border-radius: 0px 10px 10px 10px;
}

//bot settings date and time fields
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  background: #e5e5e5;
  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

/* custom styles */

[type="date"] {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}

[type="time"] {
  background:#fff image-url('clock1.png')  97% 50% no-repeat ;
}
[type="time"]::-webkit-inner-spin-button {
  display: none;
}
[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  background: #e5e5e5;
  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

/* custom styles */

[type="time"] {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}
.radio-toolbar input[type="radio"] {  
    display: none;                                      
}  

.radio-toolbar input[type="radio"] + label {  
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 0px ;                    
}

.radio-toolbar input[type="radio"]:checked + label{
     background-color: rgb(200,200,200); 
     box-shadow: 0px  0px 10px;  
}
#date_rebootconv{
  box-shadow: 0px 0px 5px;
  padding: 2px;
  border-color: white;
  border-radius: 10px;
  #date_rebootconv , &::after{
  background-color: red;
  }
}

//active inactive toggle button 
.switch {
  position: relative;
  display: inline-block;
  width: 31px;
  height: 15px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #28c97c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

//second navbar- bot settings and compose message
.mynavbar{
	height: 60px;
}

.navbar_content_height{
  height:60px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--ry-green);
}

.navbar_content_height_activate{
	height:60px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: var(--ry-green);
}

.navbar_content_height_undo{
	height:58px;
	padding-top: 15px;
	padding-bottom: 15px;
  text-align: right;
}

.Undo {
  width: 151px;
  height: 22px;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: bold;
  line-height: 1.28;
  letter-spacing: 0.22px;
  text-align: left;
  color: var(--primary-text);
}

.Undo:hover {
  width: 151px;
  height: 22px;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: 0.22px;
  text-align: left;
  text-decoration: none;
  color: var(--primary-text);
}

.navbar_custom_links{
  width: 151px;
  height: 22px;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: 0.22px;
  text-align: left;
  text-decoration: none;
  color: var(--primary-text);
}

.navbar_custom_links:hover{
  width: 151px;
  height: 22px;
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: 0.22px;
  text-align: left;
  text-decoration: none;
  color: var(--primary-text);
}

.steps {
  padding-left: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;  
}

.steps strong {
  font-size: 14px;
  display: block;
}

.steps>li {
  position: relative;
  display: block;
  /* border: 1px solid #ddd; */
  padding: 20px 50px 8px 50px; 
  width: 250px;
  height: 60px;
}

@media (min-width: 768px) {
  .steps>li { float: left; }
  .steps .past { color: #666; background: rgb(240,240,240); }
  .steps .present { color: #000; background: #a6f8e2; }
  .steps .future { color: #777; background: rgb(250,250,250); }

  .steps li > span:after,
  .steps li > span:before {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    border: solid transparent;
    border-left-color: #f0f0f0;
    border-width: 30px;
  }

  .steps li > span:after {
    top: 0px;
    z-index: 1;
    border-left-color: white;
    border-width: 30px;
  }

  .steps li > span:before { z-index: 2; }

  .steps li.past + li > span:before { border-left-color: rgb(240,240,240); }
  .steps li.present + li > span:before { border-left-color: #a6f8e2 ; }
  .steps li.future + li > span:before { border-left-color: rgb(250,250,250); }

  .steps li:first-child > span:after,
  .steps li:first-child > span:before { display: none; }

  /* Arrows at start and end */
  .steps li:first-child i,
  .steps li:last-child i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: solid transparent;
    border-left-color: white;
    border-width: 30px;
  }

  .steps li:last-child i {
    left: auto;
    right: -30px;
    border-left-color: transparent;
    border-top-color: white;
    border-bottom-color: white;
  }
}

//name form
.form__input{
	width: 100%;
	border:0px solid #f7f2ed;
	border-radius: 0;
  border-bottom: 1px solid #aaa;
  background-color: #ad7944;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #aaa;
	box-shadow: 0 0 5px white; 
	border-radius: 4px;
}

//name edit form
.form_edit_name{
  width: 100%;
	border:0px solid #3b445b;
	border-radius: 0;
  border-bottom: 1px solid #aaa;
  background-color: #3b445b;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
  transition: all .5s ease;
  color: white;
}
  

