// Place all the styles related to the nodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//After clicking add button, expanded bot response
.Rectangle-801 {
    width: 300px;
    height: 603px;
    height: auto !important; 
    border-radius: 7px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #dcf8c6;
}

.Bot-Response {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.74;
    letter-spacing: normal;
    text-align: left;
    color: #3b3939;
}

.Path-485 {
    width: 300px;
    height: 0;
    border: solid 1px #c9c9c9;
    background-color: #c9c9c9;
}

.Rectangle-802 {
    width: 276px;
    height: 151px;
    border-radius: 2px;
    border: solid 0.5px #9a9a9a;
    background-color: #ebfddd;
}

.Path-484 {
    width: 247px;
    height: 0;
    border: solid 1px #9a9a9a;
    background-color: #9a9a9a;
}

.options_text {
    height: 15px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: var(--primary-text);
}

.Set-next-Action {
    height: 12px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #434343;
}

.Path-445 {
    width: 153.5px;
    height: 0;
    border: solid 0.5px #939393;
    margin-right: -60px;
}

.radio_options {
    height: 17px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: var(--primary-text);
}

.botresponses_exit_area{
    background-color: #ebfddd;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    border-color: 1px solid grey;
}

.botresponses_messages_area{
    background-color: #ebfddd;
    border-color: transparent;
}

.botresponses_messages_area:focus{
    background-color: #ebfddd;
    border-color: 1px solid grey;
    width: 279px;
}

.botresponses_messages_area_full{
    width: 280px;
    margin: 0px 10px 10px 10px;
    background-color: #ebfddd;
    border: 1px solid grey;
}

// Collapsed bot response

.Rectangle-801-collapsed {
    width: 300px;
    height: 200px;
    height: auto !important;
    border-radius: 7px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #dcf8c6;
}

//Black connector between bot response and child nodes

.connector_black_circle {
    position: relative;
    z-index:1;
    margin-top: 15px;
    width: 12px;
    height: 12px;
    // box-shadow: 0 0 6px 0 grey;
    border: solid 1.5px black;
    border-radius: 50%;
    background-color: var(--white);
}

.connector_black_link {
    position: relative;
    z-index:1;
    margin-top: 20px;
    width: 19px;
    height: 0;
    // box-shadow: 0 0 6px 0 grey;
    border-top: solid 1.5px grey;
}
  
.connector_black_link_vertical {
    position: relative;
    z-index:1;
    margin-top: 20px;
    margin-right: 0px;
    width: 0px;
    height: 70px;
    // box-shadow: 0 0 6px 0 grey;
    border-right: solid 1.5px grey;
}

// Child nodes

.usermessage_white_box {
    width: 300px;
    height: 44px;
    border-radius: 3px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--white);
}
  
.usermessage_add_button {
    width: 59px;
    height: 26px;
    border-radius: 4px;
    border: solid 1px #adadad;
    background-color: white;
    margin-left: 0px;
}

.number_of_nodes_field{
    border-bottom: solid .5px grey;
    border-top: solid 1px  transparent;
    border-left: solid 1px  transparent;
    border-right: solid 1px  transparent;
}

.usermessage_error_message {
    width: 300px;
    height: 44px;
    border-radius: 3px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffd6d6;
}

.usermessage_error_button {
    width: 59px;
    height: 26px;
    border-radius: 4px;
    border: solid 1px #525252;
    background-color: #ffd6d6;
} 

//Expanded child node

.usermessage_expanded_white_box {
    width: 300px;
    height: 450px;
    height: auto!important;
    border-radius: 3px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--white);
}

.child_divider {
    width: 300px;
    height: 0;
    border: solid 1px #c9c9c9;
    background-color: #c9c9c9;
}
  
.Node-text-font{
    height: 14px;
    // font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #8e8e8e;
}

//Node name form
.form__input{
	width: 269px;
	border:0px solid #f7f2ed;
	border-radius: 0;
    border-bottom: 1px solid #bababa;
    background-color: white;
	outline:none;
    transition: all .5s ease;
    margin-top: 0px;
    line-height: 1;
    height: 10px;
}

.user_message_text {
    width: 52px;
    height: 32px;
    border-radius: 5px;
    border: solid 1px #d0d0d0;
    background-color: var(--white);
}

//form submit button 

.submit-text{
    border: none;
    background-color: white;
    margin-left: 40px;
    margin-top: -9px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.33;
    letter-spacing: normal;
    text-align: left;
    color: #3b445b;
    font-size: 14px;
}

.submit-text-line {
    width: 9px;
    height: 0;
    border: solid 1px #bababa;
  }